@model Product
@{
    ViewData["Title"] = "Update";
}

<div class="container pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="Photo" class="form-label">Photo</label>
                        <input asp-for="Photo" accept="image/*" class="form-control">
                        <span asp-validation-for="@Model.Photo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" class="form-control">
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="OldPrice" class="form-label">Price</label>
                        <input asp-for="OldPrice" class="form-control">
                        <span asp-validation-for="@Model.OldPrice" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label">Discount Price</label>
                        <input asp-for="Price" class="form-control">
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
